* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root {
    --general-spacing: 10px;
}

button {
    background: blue;
    color: white;
    border: none;
    padding: var(--general-spacing);
}

.libraryCard {
    padding: var(--general-spacing);
    border: 1px solid purple;
    background-color: white;

    .bookItem {
        border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr max-content;

        .bookActions {
            grid-column: 2;
            display: inline-block
        }
    }
}